absl-py==0.9.0
appdirs==1.4.4
artifacts-keyring==0.2.9
asn1crypto==1.3.0
astor==0.8.0
astroid==2.4.2
attrs==19.3.0
azure-core==1.8.2
azure-cosmos==4.2.0
azure-functions==1.4.0
azure-functions-worker==1.1.6
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.5
blinker==1.4
bokeh==2.0.0
brewer2mpl==1.4.1
cachetools==3.1.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
colorlover==0.3.0
coverage==5.2
cryptography==2.8
cufflinks==0.17.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
docopt==0.6.2
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
gast==0.2.2
ggplot==0.11.5
glob2==0.7
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-cloud==0.34.0
google-pasta==0.2.0
grpcio==1.26.0
grpcio-health-checking==1.29.0
grpcio-tools==1.26.0
h5py==2.10.0
html5lib==0.9999999
idna==2.10
imageio==2.8.0
importlib-metadata==1.7.0
ipykernel==5.1.4
ipynb-py-convert==0.4.6
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
joblib==0.17.0
json5==0.9.3
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.0
jupyter-console==6.2.0
jupyter-core==4.6.1
jupyterlab==1.2.6
jupyterlab-server==1.0.7
jupyterthemes==0.20.0
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==21.2.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lesscpy==0.13.0
libarchive-c==2.8
linecache2==1.0.0
Markdown==3.1.1
MarkupSafe==1.1.1
mat4py==0.4.3
matplotlib==3.1.3
mccabe==0.6.1
mistune==0.8.4
mysql-connector-python==8.0.18
numpy==1.19.2
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
unittest2==1.1.0
urllib3==1.25.9
utils==1.0.1
virtualenv==20.1.0